body {
    background-color: #e0f7fa !important;
}

.treinamento-box {
    background-color: #f1f1f1;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 20px;
}

.form-group input, .form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Para desabilitar o redimensionamento */
 }

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #003767;
    color: #ffffff;
}

.remove-btn {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.pop-up-aula{
    background-color: white;
    padding: 2px;
    position: absolute;
    top: 60%;
    left: 25%;
    right:25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pop-up-aula div{
    padding: 10px;
}

.div-search-funcionario{
    width: 100%;
    border-radius: 20px;
    padding: 0px;
    background-color: white;
    border: solid black 2px;
}

.search-funcionario{
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
}