.navbar{

  
    background-color: #003366 !important;
    padding: 10px !important;
   
     text-align: left !important;
   
}

.navbar a{

    color: white !important;
   
}

.dropdown-menu {
   background-color: #003366 !important;
}

.dropdown-item:hover{
   background-color: #002a4e48 !important;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;

}

    
.center-nav {
    display: flex;
    justify-content: center;
}

