.table-dark-blue thead th {
            background-color: #00274d;
            color: white;
            text-align: center;
            font-size: 1.1em;
        }
        .table-dark-blue tbody tr {
            transition: all 0.3s ease;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }
        .table-dark-blue tbody tr:hover {
            background-color: #d1e0f0;
            transform: translateY(-2px);
            box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
        }
        .btn-primary-dark, .btn-danger-dark {
            padding: 5px 10px;
            color: white;
            font-size: 0.9em;
            border-radius: 4px;
        }
        .btn-primary-dark {
            background-color: #0056b3 !important;
            border-color: #0056b3 !important;
            color: white !important;
        }
        .btn-primary-dark:hover {
            background-color: #004494 !important;
            border-color: #004494 !important;
            color: white !important;
        }
        .btn-danger-dark {
            background-color: #b32400  !important;
            border-color: #b32400 !important;
            color: white !important;
        }
        .btn-danger-dark:hover {
            background-color: #940b00 !important;
            border-color: #940b00 !important;
            color: white !important;
        }
        .container {
            margin-top: 50px;
        }
        h1 {
            color: #00274d;
            text-align: center;
            margin-bottom: 30px;
        }
        tr:hover{
            cursor: pointer;
        }